<div class='float-left col-lg-3'>
  <div class="logo-wrapper">
    <a href="#" ><img src="assets/logos/sshlogo1.png" alt="Sport Stakehouse">
    <h2>Sport <span class="thin-text">Stakehouse</span></h2></a>
  </div>
  <app-searchbar></app-searchbar>
  <ul class="d-none d-lg-block">
    <li> <a routerLink="/home" routerLinkActive="router-link-active">Home</a></li>
    <li><a routerLink="/map" routerLinkActive="router-link-active" >Betting Map</a></li>
    <li><a routerLink="/game-list" routerLinkActive="router-link-active">Game List</a></li>
    <li><a routerLink="/faq" routerLinkActive="router-link-active">FAQ</a></li>
  </ul>
</div>
