@import '~src/styles.scss';

.side-menu-container {
  position: fixed;
}

.logo-wrapper {
    a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

 }

.thin-text {
  font-weight: $sshThin;
}

.searchbar {
  margin: $ten 0;
}

.btn-green {
  background: #FF6666;
  color: $ssh-gray;
  padding: 10px;
  border-radius: $ten;
  border-color: none;
}

.btn.btn-green{
  margin:auto;
}

@media screen and (min-width: 992px){
  .logo-wrapper{
    display: inline-block;
  }
}
