$ssh-gray: #4A4A4A;
$ssh-white: whitesmoke;

$button-green: #98E2C6
// Colors to look at:
// 98E2C6 pastel blue.
// 84A98C gray green
// BA3F1D
// F7934C
// F7B05B
// FFC15E
// 3A7982
// 254250 dark blue
// D5D800 UGLY AF
// 7FFF00 Green?


// Good colors
// FF6666 warning?
// 98E2C6 pastel blue.
// 7FFF00 Green?
